# System
.DS_Store
Thumbs.db
.idea/
.vscode/

# Global Ignores
*.log
tmp/

# n8n Cluster
docker-templates/n8n-cluster/.env
docker-templates/n8n-cluster/nginx/ssl/
docker-templates/n8n-cluster/postgres_data/
docker-templates/n8n-cluster/n8n-*-data/
